<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">BSc in Computing 2:1</h4>
        <h5 class="meta">University of Lincoln</h5>
        <div class="time">2004 - 2007</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">AVCE Computing</h4>
        <h5 class="meta">Lincoln College</h5>
        <div class="time">2002 - 2004</div>
    </div><!--//item-->
</div><!--//education-container-->
