<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer / Application Analyst</h3>
                <div class="time">2007 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Ping Europe Ltd, Gainsborough, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Started life as an IT support technician but using programming skills I had aquired through University and self learning my role quickly grew into a development centric one and I began working on many in-house systems.</p>

            <p>My responsibilities include:</p>

            <ul>
                <li>Application Development and Support</li>
                <li>Microsoft SQL Database Administator</li>
                <li>Microsoft Sharepoint Administrator</li>
                <li>Mircosoft Dynamics AX/ERP System Support</li>
                <li>SSRS Report Writing</li>
                <li>Tier 1/2/3 IT Support
            </ul>

            <p>During my time here I have developed and implemented the following applications:</p>

            <ul>
                <li>
                    A web application to create and deliver email newsletters to customers.
                    <div class="tech-box">
                        <span class="tech">PHP</span>
                        <span class="tech">MySQL</span>
                    </div>
                </li>


                <li>
                    A retailer locator featuring geo-location to determine retailers located within a certain distance of the specified location.
                    <div class="tech-box">
                        <span class="tech">PHP</span>
                        <span class="tech">MySQL</span>
                    </div>

                </li>

                <li>
                    An application suite to support key aspects of the business. These include

                    <ul style="margin:10px 0 0 0;">

                        <li>A direct debit system to generate collection files for many banks and countries using various file formats such as plain text, csv and xml (SEPA).</li>

                        <li>A cycle counting system developed to improve stock integrity in the warehouse.</li>

                        <li>A production measurement system to help monitor the productivity, quality and overall efficiency of the assembly lines.</li>

                        <li>A training system to capture which work instructions personnel have been or are being trained in.</li>

                        <li>A shipping system to track orders and pallet inventory during busy launch periods.</li>

                        <li>A warehouse labelling system to print packaging labels (using ZPL).</li>

                        <li>
                            A service desk style application with an approval workflow to record and monitor continuous improvement initiatives within the company.

                            <div class="tech-box">
                                <span class="tech">C#</span>
                                <span class="tech">WPF</span>
                                <span class="tech">MVVM</span>
                                <span class="tech">Prism</span>
                                <span class="tech">Entity Framework</span>
                                <span class="tech">MSSQL</span>
                            </div>

                        </li>

                    </ul>

                </li>

                <li>
                    A web application to manage the allocation and ordering of point of sale fixtures.

                    <div class="tech-box">
                        <span class="tech">C#</span>
                        <span class="tech">ASP.NET Webforms</span>
                        <span class="tech">MSSQL</span>
                    </div>
                </li>

            </ul>

            <p>As well as the above I have also been heavily involved in the following projects:</p>

            <ul>

                <li>Implementation of Sharepoint and later upgrade to Sharepoint 2010.</li>

                <li>Migration from Microsoft SQL 2000 to 2008 R2.</li>

                <li>Implementation of SQL Server Reporting Services (SSRS) including Sharepoint integration.</li>

                <li>Migration of many printed reports from an old SCO Unix system to SSRS reports.</li>

                <li>Migration of data from an old SCO Unix ERP system to Microsoft Dynamics AX.</li>

                <li>SAP B1 Configuration and Reporting.</li>

                <li>Migration of data from SAP B1 to Microsoft Dynamics AX and in-house ERP system.</li>

            </ul>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Work Experience / Web Development</h3>
                <div class="time">Summer 2005</div>
            </div><!--//upper-row-->
            <div class="company">Regal Packaging Ltd, Gainsborough, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>I initially joined to gain office work experience however I was given the fantastic opportunity to completely redesign the companies website.</p>

            <div class="tech-box">
                <span class="tech">xHTML</span>
                <span class="tech">CSS</span>
                <span class="tech">PHP</span>
            </div>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Car Park Attendant</h3>
                <div class="time">Sep 02 – Sep 04</div>
            </div><!--//upper-row-->
            <div class="company">Kate’s Pine, Hemswell, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>Part-time job working as a car park attendant at Hemswell market during college.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Factory Worker</h3>
                <div class="time">Summer 2002</div>
            </div><!--//upper-row-->
            <div class="company">Laurens Patisseries, Newark, UK</div>
        </div><!--//meta-->
        <div class="details">
            <p>A summer job between school and college working on a production line.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
