<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Training</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"><a href="https://www.learningtree.co.uk/courses/977/building-web-applications-with-aspnet-mvc-training/">Building Web Applications with ASP.NET MVC (Course 977)</a></h3>
                <div class="time">August 14</div>
            </div><!--//upper-row-->
            <div class="company">Learning Tree International</div>
        </div><!--//meta-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title"><a href="https://www.learningtree.co.uk/courses/973/c-programming-training-extended-features/">Programming C# Extended Features (Course 973)</a></h3>
                <div class="time">July 13</div>
            </div><!--//upper-row-->
            <div class="company">Learning Tree International</div>
        </div><!--//meta-->
    </div><!--//item-->
    
</section><!--//section-->
