<section class="section training-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Training</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Building Web Applications with ASP.NET MVC</h3>
                <div class="time">August 14</div>
            </div><!--//upper-row-->
            <div class="company">Learning Tree International</div>
        </div><!--//meta-->
        <div class="details">
            
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Programming C# Extended Features (Course 973)</h3>
                <div class="time">July 13</div>
            </div><!--//upper-row-->
            <div class="company">Learning Tree International</div>
        </div><!--//meta-->
        <div class="details">
            
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->
