<section class="section training-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Training</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Building Web Applications with ASP.NET MVC</h3>
                <div class="time">August 14</div>
            </div><!--//upper-row-->
            <div class="company">Learning Tree International</div>
        </div><!--//meta-->
        <div class="details">
            "Gain the knowledge and skills needed to build dynamic web applications in Visual Studio and the ASP.NET MVC framework. In this training course, you will construct complex, data-driven web applications using the clean architecture of MVC. The ASP.NET MVC framework facilitates refined code structure, gives total control over content generation, and provides full support for test-driven development."
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Programming C# Extended Features (Course 973)</h3>
                <div class="time">July 13</div>
            </div><!--//upper-row-->
            <div class="company">Learning Tree International</div>
        </div><!--//meta-->
        <div class="details">
            "Apply C# extended features, including LINQ and EF, to effectively integrate object-oriented and data-manipulation capabilities. In this training course, you will use specialised C# keywords and language features, such as lambda expressions, extension methods, generic classes and delegates, universal functions, and anonymous types, to optimise your data access, productivity, and application performance."
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->
